@gar:registry=https://oauth2accesstoken:europe-west8-npm.pkg.dev/git-credential-helper-dev/nodejs-test-repository/
//europe-west8-npm.pkg.dev/git-credential-helper-dev/nodejs-test-repository/:always-auth=true
