common --credential_helper=storage.googleapis.com=%workspace%/tools/credential-helper
common --credential_helper=github.com=%workspace%/tools/credential-helper
common --credential_helper=objects.githubusercontent.com=%workspace%/tools/credential-helper
